.advantages{
  background-color: #54762a;

  &__container{
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    padding: 115px 50px 100px;

    &::after{
      content: '';
      position: absolute;
      top: -60%;
      left: -25%;
      width: 150%;
      height: 150%;
      background: -moz-radial-gradient(center, ellipse cover, rgba(104,165,47,1) 0%, rgba(104,165,47,0) 75%, rgba(104,165,47,0) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(104,165,47,1) 0%,rgba(104,165,47,0) 75%,rgba(104,165,47,0) 100%);
      background: radial-gradient(ellipse at center, rgba(104,165,47,1) 0%,rgba(104,165,47,0) 75%,rgba(104,165,47,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68a52f', endColorstr='#0068a52f',GradientType=1 );
    }
  }

  &__title{
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ffffff;
  }

  &__content-wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto 0;
  }

  &__item{}

  &__container{}
}

.advantage{
  max-width: 300px;
  width: 25%;

  &--big{
    width: 50%;
    max-width: 600px;
  }

  &:nth-child(n+4){
    margin-top: 80px;
  }

  &__img{}

  &__title{
    margin-top: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .0225em;
    line-height: 1.33333;
  }

  &__text{
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.67);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625;
  }
}