.button{
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  padding: 20px;
  font-size: 14px;
  color: #000000;
  background-color: #eaea29;
  border-radius: 5px;
  font-family: 'HelveticaNeueCyr-Roman', Helvetica, Arial, sans-serif;

  &--orange{
    background-color: #e55b1e;
    color: #ffffff;
  }

  &--green{
    background-color: #507028;
    color: #ffffff;
  }
}