/*
              В этом файле описываются глобальные стили и
              стили часто повторяющихся блоков используемых в качестве примесей


                                      Пример подключения шрифтов
*/
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local('HelveticaNeueCyr Light'), local('HelveticaNeueCyr-Light'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local('HelveticaNeueCyr Medium'), local('HelveticaNeueCyr-Medium'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: local('HelveticaNeueCyr Roman'), local('HelveticaNeueCyr-Roman'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}