.stock{
  background: url("/img/bg_stock.jpg") no-repeat center/ auto 100%;

  &__wrapper{
    max-width: 1170px;
    margin: 0 auto;
    padding: 80px 50px 85px;
  }

  &__rec{
    font-size: 36px;
    color: #e55b1e;
    letter-spacing: .05em;
  }

  &__title{
    margin-top: 40px;
    max-width: 575px;
  }

  &__row{
    display: flex;
    margin-top: 30px;
  }

  &__col{
    & + &{
      margin-left: 70px;
    }
  }

  &__parking{
    position: relative;
    margin-top: 35px;
    padding-left: 45px;

    &::before{
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 33px;
      height: 40px;
      background: url('/img/gift.png') no-repeat center;
    }
  }

  &__parking-text{
    font-size: 18px;
    line-height: 1.275;
    letter-spacing: 1px;
    color: #e55b1e;
  }

  &__info-title{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
  }

  &__info-dec{
    margin-top: 10px;
    font-size: 36px;
    color: #507028;
  }

  &__btn{
    margin-top: 80px;
  }
}