@media all and (max-width: 900px){
  .popup{
    &__container{
      flex-wrap: nowrap;
      height: auto;
      border-radius: 0;

      &--gym{
        .popup{
          &__layout-img-wrapper{
            padding-bottom: 60px;
          }
        }
      }
    }

    &__info{
      padding-left: 25px;
    }

    &__layout-choice{
      width: 100%;
      margin-left: 0;
    }

    &__bid{
      order: 1;
      padding: 50px 25px;
      text-align: center;
      margin: 0 auto;
    }

    &__layout-view{
      margin-top: 35px;
      width: 100%;
    }

    &__layout-img-wrapper{
      padding: 90px 5px 150px;
    }

    &__layout-img{
      padding: 0;
    }

    &__buttons{
      top: 28px;
      right: 25px;
    }

    &__block-img{
      bottom: 40px;
      right: 25px;
    }

    &__download{
      left: 25px;
      bottom: 40px;
    }

    &__for-example{
      width: 130px;
      top: 25px;
      left: 25px;
    }
  }
}

@media all and (max-width: 500px) {
  .popup{
    &__container{
      &--gym{
        .popup{
          &__layout-img-wrapper{
            padding-bottom: 60px;
          }

          &__download{
            bottom: 30px;
          }
        }
      }
    }

    &__name{
      line-height: 1.648333333;
    }

    &__layout-img-wrapper{
      padding-top: 90px;
      padding-bottom: 265px;
    }

    &__bid{
      padding: 30px 25px;
      text-align: left;
      margin: 0;
    }

    &__block-img{
      bottom: 35px;
      left: 25px;
      right: auto;
    }

    &__download{
      left: 25px;
      bottom: 200px;
    }
  }
}